<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64030765341-mbvres4o1a01p6t1om6j6sqlaakhmje3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64030765341-mbvres4o1a01p6t1om6j6sqlaakhmje3</string>
	<key>API_KEY</key>
	<string>AIzaSyAe2Pq8jFBNenWofeUK_QV9KErFnFftN64</string>
	<key>GCM_SENDER_ID</key>
	<string>64030765341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.OweMe</string>
	<key>PROJECT_ID</key>
	<string>owe-me-a31d8</string>
	<key>STORAGE_BUCKET</key>
	<string>owe-me-a31d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64030765341:ios:b617cf7e2b532afb</string>
	<key>DATABASE_URL</key>
	<string>https://owe-me-a31d8.firebaseio.com</string>
</dict>
</plist>